.mobile-menu {
  height: 100vh;
  max-width: 320px;
  transform: translateX(-50%);
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 68px 20px 20px;

  background-image: linear-gradient(rgba(27, 39, 75, 0.801), rgba(27, 39, 75, 0.986)), url(../images/mobile-menu/mobile-menu-bg.jpg);
  background-position: center;
  background-size: cover;
  
  transition: opacity 250ms ease-in, visibility 250ms ease-in;

  display: flex;
  flex-direction: column;
  justify-content: start;

  .social-list {
    background-color: transparent;
    justify-content: start;
    gap: 24px;
  }

  .social-list-link {
    background-color: var(--light-color);

    &:hover,
    &:focus {
      background-color: var(--bg-color);
    }
  }

  .social-list-svg {
    fill: var(--main-color);
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  
}

.mobile-menu__btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: var(--light-color);
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.mobile-menu__main-list {
  margin-bottom: auto;
}

.mobile-menu__main-list-link {
  color: var(--light-color);
}

.mobile-menu__main-list-item:not(:last-child) {
  margin-bottom: 18px;
}



.mobile-menu__text {
  color: var(--light-color);
  @include font(400, 14px, 18px);
  margin-bottom: 18px;
}