:root {
  
  --main-color: #1B274A;
  --hover-color:  #FF7800;
  --visited-color: #B35300;
  --accent-color: #FFA14D;
  --activate-color: #FFE8D4;
  --bg-color: #EBF5FD;
  --light-color: #ffffff;
  --line-color: #C2C2C2;
  --text-modify-color: #3897F0;
}